* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 46%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.title {
  color: azure;
  padding: 25px;
  font-family: "DynaPuff", cursive;
  font-size: 2em;
  margin-top: 25px;
  text-decoration: underline 2px lightblue;
}
.title2 {
  color: azure;
  font-size: 1.5em;
}
.inst {
  color: lightblue;
  align-content: center;
  padding: 15px;
  margin: 0% 13%;
  text-decoration: none;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.htp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.display {
  width: 250px;
  height: 250px;
  margin-top: 20px;
  border: 1px solid azure;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 15px azure;
  filter: drop-shadow(0 0 15px black);
  background-color: transparent;
  color: azure;
  font-size: 8em;
  font-family: 'DynaPuff', cursive;
  letter-spacing: 3px;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  width: 250px;
  height: 60px;
  border: none;
  border-radius: 50px;
  background-color: lightblue;
  box-shadow: 0 0 15px black;
  font-size: 1.3em;
  font-family: 'DynaPuff', cursive;
  margin-top: 40px;
  letter-spacing: 1px;
}
button:active {
  transform: scale(.98);
  box-shadow: 0 0 15px azure;
}
